
* {
    margin: 0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

html {
    font-size: 14px;
}
body {
    width: 100vw;
    height:100vh;
    font-family: "Roboto",sans-serif;
    font-size: 0.88rem;
    background-color: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
    color: #363949;
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: #363949;
}

img {
    display: block;
    width: 100%;
}
h1 {
    font-weight: 800;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;

}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;

}
h5 {
    font-size: 0.77rem;
}
small {
font-size: 0.75rem;
}
.next {
    color: rgb(10, 133, 235);
}
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: #7d8da1;
}

p {
    color: #677483;
}
b {
    color: #363949;
}
.primary {
    /* Verificar a color*/
    color: rgba(6, 104, 117, 0.533); 

}
.danger {
    /* Verificar a color*/
    color: #7388; 

}
.success {
    /* Verificar a color*/
    color: #41f1b6; 

}
.warning {
    /* Verificar a color*/
    color: #ffbb55; 
}

aside {
    height: 100vh;
}
aside .top {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo {
    display: flex;
    gap: 0.8rem
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}
aside .close {
    display: none;
}
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3 {
    font-weight: 500;
}
aside .sidebar a {
    display: flex;
    color: #7d8da1;
    margin-left:2rem ;
    gap: 1rem;
    align-items: center;
    position:relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active {
    background-color: rgba(132,139,200,0.18);
    color: rgba(47, 121, 231, 0.533); 
    margin-left: 0;
    
}
aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height:100%;
    background-color: rgba(47, 121, 231, 0.533); ;
}
aside .sidebar a.active span {
    color: rgba(47, 121, 231, 0.533); 
    margin-left: calc(1rem - 3px);

}
aside .sidebar a:hover {
    color: rgba(47, 121, 231, 0.533); 
}
aside .sidebar a:hover span {
    margin-left: 1rem;
}
aside .sidebar .message-count {
    background-color: rgb(8, 105, 37);
    color:rgb(255, 254, 254);
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 10px
}


/* ----------------------------- MAIN -------------------*/

main {
    margin-top: 1.4rem;

}
main .date {
    display: inline-block;
    background-color: rgb(228, 224, 224);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type="date"] {
    background: transparent;
    color: rgba(8, 93, 221, 0.973); 
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .insights > div {
    background-color: #fff;
    padding:1.2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0.2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
main .insights > div:hover {
    box-shadow: none
}
main .insights > div span {
    background-color: rgb(42, 110, 189);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    
}
main .insights > div.expenses span {
    background-color: rgb(236, 75, 75)
}
main .insights > div.income span {
    background-color: rgba(64, 180, 79, 0.959)
}
main .insights > div .middle {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights svg {
    width: 7rem;
    height: 7rem;
}
main .insights svg circle {
    fill:none;
    stroke:rgb(230, 90, 195);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 180;
}

main .insights .expenses svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 140;
}

main .insights .income svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 100;
}
main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .insights small {
    margin-top: 1.3rem;
    display: block;

}
/* --------------RECENTE ORDER*/

main .recent-orders {
    margin-top: 2rem;
}
main .recent-orders h2 {
    font-size: 2.0rem;
    margin-bottom:0.8rem;
    padding: 2rem;
}

main .recent-orders table {
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
main .recent-orders table:hover {
    box-shadow: none;
}
main table tbody td {
    height: 2.8rem;
    border-bottom: #363949;
    color: #363d3f;
}
main table tbody tr:last-child {
    border: none;

}
main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: rgba(47, 121, 231, 0.533); 
}
.right {
    margin-top: 1.4rem;

}
.right .top {
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.right .top button {
    display: none;

}

.right .theme-toggler {
    background-color: rgb(185, 181, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 2rem;
}
.right .theme-toggler span {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span.active {
    background-color: rgb(2, 141, 165);
    color:white;
    border-radius: 0.4rem;
}
.right .top .profile {
    display:flex;
    gap: 2rem;
    text-align: right;
}

/* ----------------RECENTE UPDATE */

.right .recent-orders {
    margin-top: 1rem;
}
.right .recent-orders h2 {
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
    background-color: white;
    padding: 1.8rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
    box-shadow: none;
}
.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
    
    
/* SALES ANALYTICS */
.right .sales-analytics {
    margin-top: 4rem;
}

.right .sales-analytics h2 {
    margin-top: 0.8rem;
}
.right .sales-analytics .item {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1.8rem; 
    border-radius: 2rem;
    box-shadow: 0.2rem 3rem rgba(250, 249, 249, 0.404);
    transition: all 300ms ease;
}
.right .sales-analytics .item:hover {
    box-shadow:none
}
.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 0;
    width: 100%;

}
.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: white;
    border-radius: 50%;
    background-color: rgb(9, 86, 158);
    display: flex;
}
.right .sales-analytics .item.offline .icon {
    background-color: rgb(187, 4, 59);
}
    
.right .sales-analytics .item.customers .icon {
    background-color: rgb(6, 129, 82);
}
.right .sales-analytics .add-product {
    background-color: transparent;
    border-bottom: 2px solid rgb(5, 147, 241);
    align-items: center;
    justify-content: center;
    color: rgb(5, 147, 241);
    
}
.right .sales-analytics .add-product div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.right .sales-analytics .add-product div h3 {
    font-weight: 600;

}
.add {
    color: rgb(5, 147, 241);
    margin-top: -4px;
}
  

/* ----------------------MEDIA QUERIES------------ */

@media screen and (max-width:1200px) {
    body {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 5.6rem;

    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;

    }
    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;

    }
    main .recent-orders table {
        width: 83vw;

    }
    main table thead tr th:last-child, 
    main table thead tr th:first-child{
        display: none;
    }
    main table body tr td:last-child, 
    main table body tr td:first-child{
        display: none;
    }
    
}
/* ----------------------MEDIA QUERIES------------ */
@media screen and (max-width: 768px) {
   .container {
    width: 100%;
    grid-template-columns: 1fr;
   }
   aside {
    position: fixed;
    left: -100%;
    background-color: white;
    width:18rem;
    z-index: 3;
    height: 100vh;
    padding-right: 1.8rem;
    display: none;
    animation: showMenu 400ms ease forwards;
   }
   @keyframes showMenu {
        to{
            left: 0;
        }
   }
   aside .logo {
    margin-left: 1rem;
   }
   aside .logo h2 {
    display: inline;
   }
   aside .sidebar h3 {
    display: inline;
   }
   aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;

  }
  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .recent-orders table {
    width: 100%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;

  }
  .right .top {
    position: fixed;
    top:0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background-color: white;
    width: 100%;
    margin: 0;
    z-index: 2;
    }
    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .right .profile .info {
        display: none;

    }
    .right .top button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: rgb(9, 96, 226);
        position: absolute;
        left: 1rem;
    }
    .right .top button span {
        font-size: 2rem;

    }
        





}






    