* {
    margin: 0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

html {
    font-size: 14px;
}
body {
    width: 100vw;
    height:100vh;
    font-family: "Roboto",sans-serif;
    font-size: 0.88rem;
    background-color: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
    color: #363949;
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: #363949;
}

img {
    display: block;
    width: 100%;
}
h1 {
    font-weight: 800;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;

}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;

}
h5 {
    font-size: 0.77rem;
}
small {
font-size: 0.75rem;
}
.next {
    color: rgb(10, 133, 235);
}
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: #7d8da1;
}

p {
    color: #677483;
}
b {
    color: #363949;
}
.primary {
    /* Verificar a color*/
    color: rgba(6, 104, 117, 0.533); 

}
.danger {
    /* Verificar a color*/
    color: #7388; 

}
.success {
    /* Verificar a color*/
    color: #41f1b6; 

}
.warning {
    /* Verificar a color*/
    color: #ffbb55; 
}

aside {
    height: 100vh;
}
aside .top {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo {
    display: flex;
    gap: 0.8rem
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}
aside .close {
    display: none;
}
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3 {
    font-weight: 500;
}
aside .sidebar a {
    display: flex;
    color: #7d8da1;
    margin-left:2rem ;
    gap: 1rem;
    align-items: center;
    position:relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active {
    background-color: rgba(132,139,200,0.18);
    color: rgba(47, 121, 231, 0.533); 
    margin-left: 0;
    
}
aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height:100%;
    background-color: rgba(47, 121, 231, 0.533); ;
}
aside .sidebar a.active span {
    color: rgba(47, 121, 231, 0.533); 
    margin-left: calc(1rem - 3px);

}
aside .sidebar a:hover {
    color: rgba(47, 121, 231, 0.533); 
}
aside .sidebar a:hover span {
    margin-left: 1rem;
}
aside .sidebar .message-count {
    background-color: rgb(8, 105, 37);
    color:rgb(255, 254, 254);
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 10px
}


/* ----------------------------- MAIN -------------------*/

main {
    margin-top: 1.4rem;

}
main .date {
    display: inline-block;
    background-color: rgb(228, 224, 224);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type="date"] {
    background: transparent;
    color: rgba(8, 93, 221, 0.973); 
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .insights > div {
    background-color: #fff;
    padding:1.2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0.2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
main .insights > div:hover {
    box-shadow: none
}
main .insights > div span {
    background-color: rgb(42, 110, 189);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    
}
main .insights > div.expenses span {
    background-color: rgb(236, 75, 75)
}
main .insights > div.income span {
    background-color: rgba(64, 180, 79, 0.959)
}
main .insights > div .middle {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights svg {
    width: 7rem;
    height: 7rem;
}
main .insights svg circle {
    fill:none;
    stroke:rgb(230, 90, 195);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 180;
}

main .insights .expenses svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 140;
}

main .insights .income svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 100;
}

